{{ if .Values.grafana.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: datasource-clickhouse
  namespace: grafana
  labels:
    grafana_datasource: 'true'
spec:
  refreshPolicy: Periodic
  refreshInterval: 24h
  secretStoreRef:
    name: grafana-store
  target:
    name: datasource-clickhouse
    template:
      type: Opaque
      metadata:
        labels:
          grafana_datasource: 'true'
      data:
        {{- range .Values.grafana.datasources.clickhouse }}
        coroot-clickhouse-{{ .name }}.yaml: |-
          apiVersion: 1
          datasources:
            - name: coroot-clickhouse-{{ .name }}
              type: grafana-clickhouse-datasource
              jsonData:
                defaultDatabase: coroot_{{ .value }}
                host: coroot-clickhouse.coroot
                port: 9000
                username: default
              secureJsonData:
                password: '{{ printf "{{"}} .password }}'
              editable: false
        {{- end }}
  data:
    - secretKey: password
      remoteRef:
        key: mc-authentik/grafana/monitoring
        property: password
{{ end }}