cluster:
  talosVersion: "v1.11.2"
  kubernetesVersion: "v1.34.1"
  annotations:
    argocd.argoproj.io/sync-options: PruneLast=true
  labels:
    weebo.si/engine: "talos"
  network:
    podsCidr:
      - 10.245.0.0/16 # 10.244.0.0/16
      #- fd00:10:245::/56
    servicesCidr:
      - 10.128.0.0/12 # 10.96.0.0/12
      #- fd00:10:97::/112
  kubevirt:
    source: registry
    storageClassName: local-path-sdb
    talosQcow2: docker://harbor.4.weebo.fr/talos/vpn-openstack/qcow:v1.11.2
    #talosQcow2: https://factory.talos.dev/image/88d1f7a5c4f1d3aba7df787c448c1d3d008ed29cfb34af53fa0df4336a56040b/v1.11.2/openstack-amd64.qcow2 #https://factory.talos.dev/image/ac8870ab0fc06e25c9cc68d4ba3e2c4d5d2ce86d7525cda4aad57602e64fc4e3/v1.10.6/nocloud-amd64.qcow2
  controlPlane:
    replicas: 1
    allowScheduling: true
    ram: 13Gi
    storage: 20Gi
    storageClassName: local-path
    cpu:
      cores: 2
      threads: 1
  bootstrap:
    vaultProviderVersion: "4.4.0"
  worker:
    replicas: 0
    autoscale: false
    ram: 8Gi
    storage: 50Gi
    cpu:
      cores: 2
      threads: 2
  talos:
    installImage: harbor.4.weebo.fr/talos/vpn-openstack/installer:v1.11.2 #factory.talos.dev/nocloud-installer/ac8870ab0fc06e25c9cc68d4ba3e2c4d5d2ce86d7525cda4aad57602e64fc4e3:v1.10.6
    qemuGuestAgent:
      image: ghcr.io/siderolabs/qemu-guest-agent:10.0.2
    manifests:
      - https://batleforc.github.io/weebo-si/yaml-asset/tccm.yaml
      - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
      - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

argo:
  external:
    enabled: true

vpn:
  enabled: true

cilium:
  enabled: true
  version: "v1.18.2"
  ipv6: false
  ipv4: true

dns:
  wildcard: true
  name: "{{ .Release.Name }}"
  in:
    base: weebo.poc
  out:
    base: "cluster.4.weebo.fr"

storage:
  local:
    enabled: true
  longhorn:
    enabled: true
  kubevirt:
    enabled: true

traefik:
  enabled: true
  version: 37.1.1
  ips: "uneipv6"
  kubeCRD:
    enabled: true
  kubeIngress:
    enabled: true
  gatewayAPI:
    enabled: false

argoApp:
  enabled: true

certManager:
  enabled: true
  version: 1.18.0
  installCRDs: true

trustManager:
  enabled: true
  version: 0.18.0

certificate:
  enabled: true
  rootCA:
    url: https://vault.4.weebo.fr/v1/pki/issuer/default/json
  subCA:
    url: https://vault.4.weebo.fr/v1/pki_int/issuer/default/json

externalSecrets:
  enabled: true
  version: 0.19.2

monitoring:
  enabled: true
  coroot:
    enabled: true
    operator:
      version: 0.4.8
