{{ range .Values.workers }}
---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: "{{ $.Values.cluster.name }}-{{ .name }}"
  namespace: {{ $.Values.cluster.namespace }}
spec:
  dataVolumeTemplates:
    - metadata:
        name: boot-volume-{{ .name }}
      spec:
        pvc:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: {{ .storage }}
          volumeMode: Filesystem
        source:
          http:
            url: {{ .img}}
  runStrategy: Always
  template:
    spec:
      domain:
        cpu:
          cores: {{ .cpu.cores }}
          threads: {{ .cpu.threads }}
        devices:
          disks:
            - disk:
                bus: virtio
              name: dv-volume
          networkInterfaceMultiqueue: true
        resources:
          requests:
            memory: {{ .ram }}
      evictionStrategy: External
      volumes:
        - dataVolume:
            name: boot-volume-{{ .name }}
          name: dv-volume
{{ end }}